[setup]
storage_engine='S3'

[Project]
# Project name used for bucket path: example <project_name>/<db name>
project_name=< name of project >

# Define the time interval for backing up databases, in seconds
interval=<example: 86400 (one day)>

[S3]
endpoint=https://example.com
bucket_name=< your bucket name >
key_id=< your key_id >
access_key=< your access key >

[postgresql]
host=< example localhost >
port=< example 5432 >
db=< your db name >
user=< db user >
password=< db user password >

